/* Modify navbar background color */
.navbar-custom {
    background-color: #7749F8;
}

h1 {
    position: absolute;
    left: 100px;
    top: 100px;
}

.search-bar {
    position:absolute;
    top: 175px;
    left: 100px;
}

.search-criteria-left{
    position:absolute;
    top: 225px;
    left: 100px;
}

.search-criteria-right{
    position: absolute;
    top: 225px;
    right: 100px;
}

.graph{
    position: absolute;
    top: 300px;
    margin-left: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color:#ebe5fc;
  }